body {
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(94, 87, 87, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}